.carousel_image {
    width: 30%;
    height: auto;
    object-fit: cover; 
    border-radius: 20px;
    margin: 0 auto; /* Centralizar a imagem */
    display: block; /* Garante que a margem auto funcione */
}
