.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;  /* Centraliza verticalmente */
    align-items: center;  /* Centraliza horizontalmente */
    height: 100vh; /* Faz com que ocupe toda a altura da tela */
    width: 100vw; /* Garante que ocupe toda a largura da tela */
    text-align: center; /* Garante que o texto fique centralizado */
}
.container h2 {
    display: flex; 
    justify-content: center;
}

  
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
  }
  
  .carousel-container {
    width: 80%; /* Ajuste conforme a necessidade */
    margin-top: 20px;
  }
  