.button {
    display: inline-block;
    background-color: #83AB28; /* Verde */
    color: white;
    text-align: center;
    padding: 24px 24px;
    text-decoration: none;
    border-radius: 30px; /* Bordas arredondadas */
    transition: background-color 0.3s ease, transform 0.2s ease;
    border: none; /* Remove any default border */
  }
  
  .button:hover {
    background-color: #45a049; 
    transform: scale(1.05); 
  }
