@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
}
  
h1 {
    color: #0c1c10;
}

h2, h3, h4, h5, h6{
    color: rgb(131, 171, 40);
}

p {
    color: #323232;
}